    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
	  <a class="brand" href="#">glean</a>
	</div>
      </div>
    </div>
	
    <div class="btn-group">
	<a class="btn" href="/">Home</a>
	<a class="btn" href="/fitbit">Fitbit</a>
	<a class="btn" href="/foursquare">Foursquare</a>
	<a class="btn" href="/runkeeper">Runkeeper</a>
    </div>
