body {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

/* home.ejs */
#home-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Status.ejs */
.data {
  display: none;
}

.chart-div, .chart-container {
  display: inline-block;
}

.chart-div div {
  display: inline-block;
}

.chart div {
  font: 10px sans-serif;
  color: white;
  display: inline-block;
  padding: 3px;
  margin: 2px;
  vertical-align: bottom;
  overflow: hidden;
}

#weight-historical-chart div, #fat-historical-chart div, #weight-predictedweek-chart div, #fat-predictedweek-chart div {
  background-color: steelblue;
}

#weight-line-graph, #fat-line-graph {
  position: absolute;
}

#weight-highest-chart div, #fat-highest-chart div {
  background-color: navy;
}

#weight-lowest-chart div, #fat-lowest-chart div {
  background-color: green;
}

#weight-predicted-chart div, #fat-predicted-chart div {
  background-color: orange;
}

#weight-goal-chart div, #fat-goal-chart div {
  background-color: red;
}

#category-div {
    padding-bottom: 20px;
}

/* foursquare.ejs */
#category-div div {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
}

#category-div div div {
    display: block;
}

#checkins-table {
    margin-left: auto;
    margin-right: auto;
}

.positive-points {
    color: green;
}

.negative-points {
    color: red;
}

/* runkeeper.ejs */
#runs-table {
    margin-left: auto;
    margin-right: auto;
}

#runs-table td {
    padding: 6px;
}
